body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    background-image: url('../static/photo2.jpeg');
    background-size: cover;
    height: 100vh;
}

.login {
    background-image: url('../static/cacao-cafe.jpeg');
    background-size: cover;
    height: 100vh;
}

.register {
    background-image: url('../static/cacao.jpeg');
    background-size: cover;
    height: 100vh;
}

.base {
        background-image: url('../static/photo3.jpeg');
        background-size: cover;
        height: 100vh;
}

.statistic {
        background-image: url('../static/photo1.jpeg');
        background-size: cover;
        height: 100vh;
}